* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 98vh;
}

header {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor {
    width: 80%;
}
#cabecera {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
   
}

header a {
    text-decoration: none;
    display: block;
    text-align: center;
}

header h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 6em;
    font-weight: 100;
    color: black;
   
}

nav {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav a {
    color: black;
    text-decoration: none;
    padding: 5px;
    font-size: 1.2em;
    border-bottom: 1px solid transparent;
}

  .open .responsive {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  
  .responsive  {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    height: calc(100vh - 50px);
    width: 100%;
  }
  
  .responsive li {
    margin-bottom: 10px;
  }
 
  #hamburger-icon {
    margin: auto 0;
    display: none;
    cursor: pointer;
  }
  
  #hamburger-icon div {
    background-color: rgb(255, 255, 255);
    margin: 6px 0;
    transition: 0.4s;
    margin-top: 60px;
    height:fit-content;
    font-size: 20px;
    color: black;
    
  }
  #hamburger-icon div a{
    font-size: 20px;
    color: black;
    
  }


#cajafoto {
    width: 100%;
    height: 50%;
    background: url(../img/fondo.jpg);
    background-repeat: no-repeat;
    background-position-y: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 100% auto;
}

#cajatexto {
    padding: 20px;
    border: 2px solid white;
    box-shadow: 3px 3px 10px rgb(43, 135, 241);
    text-align: center;
}

#cajatexto h3 {
    font-size: 3em;
    color:black;
}

#cajatexto h4 {
    font-size: 2em;
    color:black;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    margin: 20px 0;
}

#proyectos {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}

article {
    padding: 10px;
    width: 25%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

article a {
    width: 100%;
    margin: 0;
    padding: 0;
}
article img {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 200px;
}

.descripcion {
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
}

.descripcion h5 {
    font-size: 1.1em;
}
article img:hover {
    opacity: 0.5;
    cursor: pointer;
}

#texto {
    border: 2px solid black;
    width: 60%;
    padding: 10px;
    margin: 10px 0;
}

#texto h6 {
    font-size: 2em;
    text-align: center;
}
#texto p {
    text-align: justify;
    margin-top: 10px;
    font-size: 1.5em;
}

footer {
    height: 15%;
    background: #1e2b38;
    text-align: center;
    box-shadow: 3px 3px 10px rgb(5, 87, 182);
}

#redes-sociales {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 10px rgb(43, 135, 241);
}

footer a {
    color: white;
    width: 100px;
    padding: 15px 0;
    margin: 0 20px;
    font-size: 30px;
    border-radius: 3px;
}

footer .twitter:hover {
    background: #1da1f2;
}
footer .facebook:hover {
    background: #3b5998;
}
footer .instagram:hover {
    background: rgb(158, 55, 184);
}

ul li {
    margin-top: 10px;
    list-style: none;
}
@media screen and (max-width: 1024px) {
    #contacto .formulario input[type="text"],
    #contacto .formulario input[type="email"]
    {
    width: 98%;
    margin-bottom: 15px;
    }

  }

@media screen and (max-width: 916px) {
    
    header {
        height: auto;
    }
    #cabecera {
        flex-wrap: wrap;    
    }
    #titulo {
        text-align: center;
        font-size: 1em;
    }

    nav {
        width: 100%;
        justify-content: space-around;
    }

    nav a {
        font-size: 1em;
    }

    article {
        width: 50%;
    }

    #sobremi {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }

    #sobremi img {
        width: 50%;
        margin-bottom: 10px;
    }
  }

@media only screen and (max-width: 600px) {
  header nav {
    display: none;
  }

  #hamburger-icon {
    display: block !important;
  }
  nav {
    display: none;
  }

  #hamburger-icon {
    display: block;
  }
}
  @media screen and (max-width: 480px) {
    article {
        width: 100%;
    }

    #cajatexto {
        width: 80%;
        text-align: center;
    }


    #cajatexto h3 {
        font-size: 2.5em;
    }

    #cajatexto h4 {
        font-size: 1.5em;
    }

    #texto{
        width: 80%;
        text-align: center;
    }
    header nav {
        display: none;
      }
    
      #hamburger-icon {
        display: block !important;
      }
      nav {
        display: none;
      }
    
      #hamburger-icon {
        display: block;
      }
} 